<h1>Select files to watch</h1>
<dl class="folder">Box.net	
	<% @base.files.each do |file| %>
		<%= render 'file', {:file => file } %>
	<% end %>	
	<% @base.folders.each do |folder| %>
		<%= render 'folder', {:folder => folder} %>
	<% end %>	
</dl>
