// Place all the styles related to the BoxFiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

dl.folder {
  margin-left: 10px;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  li {
    margin-left: 10px;
    font-size: 12px;
    p.watched_details {
      margin: 0px 10px;
    }  
  }  
}