// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form input[type="submit"]{
  background: #999;
  padding: 5px;
  border: none;
  font-size: 1.0em;
}
form input[type="submit"]:hover {
  background: #666;
}

div#header {
  padding: 5px 20px;
  background-color: #CCC;
  height: 120px;
  div#banner {
    float:left;
  }  
  div#nav {
    margin-left: 600px;
  }  
}

div#main {
  padding-left: 40px;
  div#intro {
    padding-left: 40px;
    width: 600px; 
  }  
  div#login, div#register {
    font-size: 1.5em;
    padding: 20px 40px;
    form input{
      font-size: 1.0em;
    }
  }
}


div#footer {
  padding: 5px 20px;
  background-color: #CCC;
}

div#error {
  padding: 5px 20px;
  background-color: #F55;
}