// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	margin: 0 auto 0 auto;
	width: 960px;
}

form input[type="submit"]{
  background: #999;
  padding: 5px;
  border: none;
  font-size: 1.0em;
}
form input[type="submit"]:hover {
  background: #666;
}

div#header {
  padding: 5px 20px;
  background-color: #CCC;
  height: 120px;
  div#banner {
    float:left;
  }  
  div#nav {
    float: right;
  }  
}

div#main {
  padding-left: 40px;
  div#intro {
    padding-left: 40px;
    width: 600px; 
    div.image_wrapper {
      float: left;
    }
    div#welcome-text {
      margin: 10px 0px 0px 250px;
      p { 
        font-size: 1.4em; 
        line-height: 1.2em;
      }
    }
      
  }  
  div#login, div#register {
    clear: both;
    font-size: 1.5em;
    padding: 0px 40px;
    form h3.error {
      margin-left: 100px;
      color: red;
    }  
    form input{
      font-size: 1.0em;
    }
  }
}


div#footer {
  padding: 5px 20px;
  background-color: #CCC;
  h5#power {
    margin: 0px;
    padding: 0px 10px;
  }
/*  div#footer-left {
    width: 400px;
  }*/  
  div.image_wrapper {
    padding-left: 25px;
  }
}

div#error {
  padding: 5px 20px;
  background-color: #F55;
}

.clear { clear: both;}
.float-left { float: left;}
.float-right { float: right;}