<div id="footer">
	<h5>
		Open-FTP is created by Scott Johnson github: <%= link_to("Itchy", "http://www.github.com/itchy") %><br/>
		Contact at: 7.scott.johnson@gmail.com<br/>
		Open-FTP is uses <%= link_to("Twilio", "http://www.twilio.com") + " and " + link_to("Box", "http://www.box.net") %> 
	</h5>
</div>