<div id="intro">
	<div class="image_wrapper">
		<%= image_tag("/images/bouncer_stop.png", :id => "welcome_logo", :size => "200x200" ) %>
	</div>
	<div id="welcome-text">	
		<h2>Whoa! Stop right there.</h2><h2>You are not on the list.</h2>
		<p>If you feel you should be allowed to download the selected file, please contact the person who controls the requested file, and have them put you on the list.
		</p>
		<p>Access to this file is controlled by <%= link_to("Open-FTP", "http://www.open-ftp.com")  %></p>
	</div>		
</div>



  