<h1>
	What is Open-FTP?
</h1>	
<p>	
	Open-FTP is a way to distribute files with sms notification and tracking.  The best way to explain is through examples.
</p>	

<h3>1 - Classic FTP with Notification</h3>
	<p>
	For example an artist created a file that is too big to email to her client.  The artist can place that file in Box.net, and email her client the public url to download the file.  If the designer wants to be notified when her client downloads the file, Open-FTP can help.  She would simply leave the file (protected) in her Box account, Watch it in Open-FTP, and "Up" the Max Downloads.  Then she would send her customer the public url from Open-FTP. When the file is downloaded the designer will receive a text notification.  This notification will help her know when to follow up with her client.
	</p>

<h3>2 - FTP with limited Download Access</h3>	 
	<p>
	As you may have noticed from Example 1, Open-FTP can also limit the number of times a file can be downloaded.  If the artist is concerned about that awesome image being distributed without her consent, she can set the number of times a given file can be downloaded.
	</p>
	
<h3>3 - FTP with personalized download codes</h3>	
 	<h4>COMING SOON!</h4>
	<p>
	Our artist created the next great thing!  People are lining up to pay for her image.  She wants to secure her image so the download url dose not end up on a website where everyone can get it.  But she also needs to make the image easily accessible to as many buyers as possible.  Again, Open-FTP can help.  Open-FTP can create multiple personalized public urls (PURLs) for the same image, so she only has to upload and store the image once. Then, Open-FTP tracks and notifies our artist about who is downloading her file.
	</p>	
	
<p>Open-FTP may be overkill for your everyday files, but for those VIP's, Open-FTP provides the proper security to let the right people in and keep everyone else out!</p>
<h1>
	Requirements
</h1>
	<p>
		To use Open-FTP you will need a Box account and a phone with SMS texting.  If you don't have a Box account, you can create one for free at <%= link_to("Box", "http://www.box.net") %> or you will be prompted after creating a Open-FTP account.  If you don't have a phone with SMS texting, you can still use Open-FTP to restrict access to your files, but you will not receive any notifications.  
	</p>	
	
<h1>How to use Open-FTP</h1>
	<h3>1 - Create an account</h3>
	<h3>2 - Link account to your Box account</h3>
	<h3>3 - Select which files in your Box folder you want Open-FTP to watch</h3>
	<h3>4 - Set your download and notification settings</h3>
	<h3>5 - Distribute your public urls</h3>
	
<h1>Learn More Here</h1>
<iframe width="425" height="349" src="http://www.youtube.com/embed/w_Nq-O8-sSg?hl=en&fs=1" frameborder="0" allowfullscreen></iframe>

<h1>Make Open-FTP Better</h1>
	<p>As its name implies, Open-FTP is an open source project. Side note, a friend pointed out it dose not use FTP, so names may be misleading.  But, back to my point, if you want to make Open-FTP better, or if you just want to see one way to integrate with <%=link_to("Box", "http://www.box.net") %> or <%= link_to("Twilio", "http://www.twilio.com") %> checkout the project at <%= link_to("GitBub", "http://www.github.com/itchy/open-ftp")%>.
	</p>
	